$widthCard: 200px;
$heightCard: 300px;

$diman:(488px: 2, 768px: 3, 1025px: 4);

.catalog {
  display: grid;
  grid-template-columns: $widthCard;
  grid-template-rows: repeat(auto-fill, $diman);
  justify-content: center;
  gap: 48px;

  @each $car , $val in $diman {
    @media screen and (min-width: #{$car}) {

      & {
        grid-template-columns: repeat(#{$val} , $widthCard);
      }

    }
  }

  &__card {
    display: grid;
    justify-content: center;
    align-items: center;
    width: $widthCard;
    height: $heightCard;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

}
